<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">

      <node
            category-path="/community/AF_Utilities/ExcelUtil"
            factory-class="org.AF.ExcelUtilities.ExcelPasswordManager.ExcelPasswordManagerNodeFactory"/>
            
      <node
            category-path="/community/AF_Utilities/ExcelUtil"
            factory-class="org.AF.ExcelUtilities.WriteToExcelTemplate.WriteToExcelTemplateXLSXNodeFactory">	 
      </node>	 
      <node
            category-path="/community/AF_Utilities"
            factory-class="org.AF.KeepassUtilities.KeepassReader.KeepassReaderNodeFactory">	 
      </node>
      <node
            category-path="/community/AF_Utilities"
            factory-class="org.AF.PGPUtilities.PGPDecryptor.PGPDecryptNodeFactory">	 
      </node>
            <node
            category-path="/community/AF_Utilities"
            factory-class="org.AF.PGPUtilities.PGPEncryptor.PGPEncryptorNodeFactory">	 
      </node>
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.GetRestAccessToken.GetRestAccessTokenNodeFactory">	 
      </node>  
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.GetRestAccessTokenAsString.GetRestAccessTokenAsStringNodeFactory">	 
      </node>    
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.UploadFileToSP.UploadFileToSPNodeFactory">	 
      </node>       
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.CreateSPFolder.CreateSPFolderNodeFactory">	 
      </node>   
              
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.DeleteSPFolder.DeleteSPFolderNodeFactory">	 
      </node>           
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.DeleteSPFile.DeleteSPFileNodeFactory">	 
      </node>      
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.CheckoutSPFile.CheckoutSPFileNodeFactory">	 
      </node>        
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.CheckinSPFile.CheckinSPFileNodeFactory">	 
      </node>             
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.MoveSPFile.MoveSPFileNodeFactory">	 
      </node>          
       <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.ListSPFiles.ListSPFilesNodeFactory">	 
      </node>
               
       <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.GetSPListItems.GetSPListItemsNodeFactory">	 
      </node>         
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil"
            factory-class="org.AF.SharePointUtilities.DownloadFileFromSP.DownloadFileFromSPNodeFactory">	 
      </node>      
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.GetSharePointRestConnection.GetSharePointRestConnectionNodeFactory">	 
      </node>        
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.SPConnListFiles.SPConnListFilesNodeFactory">	 
      </node>    
         
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.UploadFileToSP.UploadFileToSPNodeFactory">	 
      </node>        
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.CheckinSPFile.CheckinSPFileNodeFactory">	 
      </node>                
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.CheckoutSPFile.CheckoutSPFileNodeFactory">	 
      </node>   
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.CreateSPFolder.CreateSPFolderNodeFactory">	 
      </node>        
      
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.DeleteSPFile.DeleteSPFileNodeFactory">	 
      </node>      
       
      <node
            category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
            factory-class="org.AF.SharePointUtilities.Conn.DownloadFileFromSP.DownloadFileFromSPNodeFactory">	 
      </node>        
      
    <node
          category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
          factory-class="org.AF.SharePointUtilities.Conn.MoveSPFile.MoveSPFileNodeFactory">	 
    </node>  
      
    <node
          category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
          factory-class="org.AF.SharePointUtilities.Conn.GetSPListItems.GetSPListItemsNodeFactory">	 
    </node> 

    <node
          category-path="/community/AF_Utilities/SharePointUtil/SharePointConn"
          factory-class="org.AF.SharePointUtilities.Conn.GetSharePointListColumns.GetSharePointListColumnsNodeFactory">	 
    </node> 
            
    <node
          category-path="/community/AF_Utilities/FirefoxUtil"
          factory-class="org.AF.SeleniumFire.CreateFirefoxBrowserInstance.CreateFirefoxBrowserInstanceNodeFactory">	 
    </node>   
 
    <node
          category-path="/community/AF_Utilities/FirefoxUtil"
          factory-class="org.AF.SeleniumFire.GetURL.GetUrlNodeFactory">	 
    </node>        
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.Clear.ClearNodeFactory">	 
	</node> 
	
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.Click.ClickNodeFactory">	 
	</node> 
	
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.ExecuteJavaScript.ExecuteJavaScriptNodeFactory">	 
	</node> 
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.FindWebElement.FindWebElementNodeFactory">	 
	</node> 
	
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.Screenshot.ScreenshotNodeFactory">	 
	</node> 
	
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.SendKeys.SendKeysNodeFactory">	 
	</node> 
	
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.Submit.SubmitNodeFactory">	 
	</node>  
	           
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.CloseInstance.CloseInstanceNodeFactory">	 
	</node>   
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.GetWebElementData.GetWebElementDataNodeFactory">	 
	</node>   	
	
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.GetSessionData.GetSessionDataNodeFactory">	 
	</node>  

	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.SwitchTab.SwitchTabNodeFactory">	 
	</node>  

	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.SwitchFrame.SwitchFrameNodeFactory">	 
	</node>  


	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.OptionPicker.OptionPickerNodeFactory">	 
	</node>
	<node
	      category-path="/community/AF_Utilities/FirefoxUtil"
	      factory-class="org.AF.SeleniumFire.WaitForWebElement.WaitForWebElementNodeFactory">	 
	</node>
	<node
            category-path="/community/AF_Utilities/MiscUtil"
            factory-class="org.AF.TableUtil.GroupAll.GroupAllNodeFactory">	 
    </node>

	                 
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="AF Utilities"
            icon="AFUtilCategory.png"
            level-id="AF_Utilities"
            locked="true"
            name="AF Utilities"
            path="/community">
      </category>
      
      <category
            description="AF SharePointUtilities"
            icon="SharePointCaregory.png"
            level-id="SharePointUtil"
            locked="true"
            name="SharePointUtil"
            path="/community/AF_Utilities">
      </category>
      
      
       <category
            description="AF SharePointUtilities Connection"
            icon="SharePointCaregory.png"
            level-id="SharePointConn"
            locked="true"
            name="SharePointConn"
            path="/community/AF_Utilities/SharePointUtil">
      </category>
 
       <category
            description="AF Misc Util"
            icon="MiscCategory.png"
            level-id="MiscUtil"
            locked="true"
            name="MiscUtil"
            path="/community/AF_Utilities">
      </category>
                
       <category
            description="AF ExcelUtilities"
            icon="ExcelCategory.png"
            level-id="ExcelUtil"
            locked="true"
            name="ExcelUtil"
            path="/community/AF_Utilities">
      </category>     
 
       <category
            description="AF Firefox Automation"
            icon="SeleniumFire.png"
            level-id="FirefoxUtil"
            locked="true"
            name="FirefoxUtil"
            path="/community/AF_Utilities">
      </category>  
            
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#34c3eb"
            hidden="false"
            name="SP_Conn"
            objectClass="org.AF.Connections.ConnectionInformationPortObject"
            objectSerializer="org.AF.Connections.ConnectionInformationPortObject$Serializer"
            specClass="org.AF.Connections.ConnectionInformationPortObjectSpec"
            specSerializer="org.AF.Connections.ConnectionInformationPortObjectSpec$Serializer">
      </portType>

      <portType
      		color="#fcba03"
            hidden="false"
            name="SeleniumFirefoxPort"
            objectClass="org.AF.Selenium.Port.SeleniumConnectionInformationPortObject"
            objectSerializer="org.AF.Selenium.Port.SeleniumConnectionInformationPortObject$Serializer"
            specClass="org.AF.Selenium.Port.SeleniumConnectionInformationPortObjectSpec"
            specSerializer="org.AF.Selenium.Port.SeleniumConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
   
</plugin>

